[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/tinyxml2"]
	path = deps/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
